.datos-bloque {
  background: rgba(40, 40, 40, 0.7);
  border-radius: 16px;
  padding: 1rem;
  margin-top: 2rem;
  box-shadow: 0 4px 16px rgba(0,0,0,0.15);
  max-width: 320px;      // Cambia el ancho máximo
  margin-left: 0;        // Alinea a la izquierda
  margin-right: auto;    // El resto del espacio queda a la derecha
  transition: background 0.3s;
}

.datos-toggle {
  width: 100%;
  text-align: left;
  font-weight: bold;
  font-size: 1.1rem;
  --background: transparent;
  --color: #fff;
}

.datos-detalle {
  margin-top: 1rem;
  animation: fadeInDatos 0.3s;
}

@keyframes fadeInDatos {
  from { opacity: 0; transform: translateY(-10px);}
  to   { opacity: 1; transform: translateY(0);}
}
ion-content {
  --background: #adadad;
  color: #fff; // Texto blanco para contraste
}

.mat-carousel-container {
  display: flex;
  overflow-x: auto;
  gap: 1rem;
  padding: 1rem 10px;
  scrollbar-width: none; 
  -ms-overflow-style: none; 
  border-radius: 28px;
  background: rgba(209, 209, 209, 0.7);
  
}
.mat-carousel-container::-webkit-scrollbar {
  display: none; 
}
.mat-carousel-card {
  width: 180px;         /* Ajusta el ancho según prefieras */
  min-width: 140px;
  max-width: 200px;
  height: 260px;        /* Ajusta el alto según prefieras */
  max-height: 260px;
  margin: 12px;
  padding: 8px;
  display: inline-block;
  vertical-align: top;
  transition: box-shadow 0.2s;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
}
.mat-carousel-card:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}
.mat-carousel-card img {
  max-height: 100px;
  object-fit: contain;
}
.mat-carousel-card h3 {
  font-size: 1.2rem;
  margin: 0.5rem 0;
  padding: 0 1rem;
}
.contenido-expandido {
  max-height: 10px; /* Tamaño expandido */
  overflow: auto;
}
.agregar-card {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  color: #1976d2;
}
.card-actions {
  display: flex;
  justify-content: center;
  gap: 4px;
  margin-top: 4px;
}
.descripcion-scrolleable {
  max-height: 60px;
  overflow-y: auto;
  font-size: 13px;
  padding-right: 8px;  /* Espacio para la barra de scroll */
  white-space: pre-line;
}