.datos-bloque {
  background: rgba(40, 40, 40, 0.7);
  border-radius: 16px;
  padding: 1rem;
  margin-top: 2rem;
  box-shadow: 0 4px 16px rgba(0,0,0,0.15);
  max-width: 320px;      // Cambia el ancho máximo
  margin-left: 0;        // Alinea a la izquierda
  margin-right: auto;    // El resto del espacio queda a la derecha
  transition: background 0.3s;
}

.datos-toggle {
  width: 100%;
  text-align: left;
  font-weight: bold;
  font-size: 1.1rem;
  --background: transparent;
  --color: #fff;
}

.datos-detalle {
  margin-top: 1rem;
  animation: fadeInDatos 0.3s;
}

@keyframes fadeInDatos {
  from { opacity: 0; transform: translateY(-10px);}
  to   { opacity: 1; transform: translateY(0);}
}
ion-content {
  --background: #adadad;
  color: #fff; // Texto blanco para contraste
}

.mat-carousel-container {
  display: flex;
  overflow-x: auto;
  gap: 1rem;
  padding: 1rem 10px;
  scrollbar-width: none; 
  -ms-overflow-style: none; 
  border-radius: 28px;
  background: rgba(209, 209, 209, 0.7);
  
}
.mat-carousel-container::-webkit-scrollbar {
  display: none; 
}
.mat-carousel-card {
  min-width: 220px;
  max-width: 260px;
  flex: 0 0 auto;
  cursor: pointer;
  border-radius: 28px;
  border: #242424 solid 10px;
}
.mat-carousel-card:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}
.mat-carousel-card img {
  width: auto;
  height: 170px;
  border-radius: 28px 28px 0 0;
  padding: 2px;
}
.mat-carousel-card h3 {
  font-size: 1.2rem;
  margin: 0.5rem 0;
  padding: 0 1rem;
}
.agregar-card {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  color: #1976d2;
}
.card-actions {
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: flex-end;
  margin-top: 8px;
}
.colecciones-container{
  border-radius: 10px;
  border-color: #242424;
  border-style: solid;
  width: auto;
  height: 180px;
}
.coleccion{
  border-radius: 25px;
  border-color: aqua ;

}