<ion-header class="custom-header">
  <ion-grid>
    <ion-row>
      <ion-col size="12" class="ion-text-center">
        <ion-title id="titulo">Mis colecciones</ion-title>
      </ion-col>
      <ion-col size="12" class="ion-text-center">
        <ion-title id="subtitulo">Bienvenido</ion-title>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content id="contenido" class="custom-content">
  <form #loginForm="ngForm" (ngSubmit)="ingresar()">
    <ion-grid>
      <ion-row>
        <ion-col size="12" class="ion-text-center">
          <h1>Ingresar</h1>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <div class="login">
            <ion-row>
              <ion-col size="6" class="ion-text-left">
                <p>Usuario</p>
              </ion-col>
              <ion-col size="6" class="ion-text-left">
                <ion-input type="text" placeholder="Ingrese su usuario" [(ngModel)]="usuario" name="usuario" required
                  pattern="^[a-zA-Z0-9]{3,8}$" #usuarioCtrl="ngModel">
                </ion-input>
                <ion-text color="danger" *ngIf="usuarioCtrl.invalid && usuarioCtrl.touched">
                  <small>
                    Usuario: 3-8 caracteres alfanuméricos.
                  </small>
                </ion-text>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6" class="ion-text-left">
                <p>Contraseña</p>
              </ion-col>
              <ion-col size="6" class="ion-text-left">
                <ion-input type="password" placeholder="Ingrese su contraseña" [(ngModel)]="contrasena"
                  name="contrasena" required pattern="^[0-9]{4}$" maxlength="4" #contrasenaCtrl="ngModel">
                </ion-input>
                <ion-text color="danger" *ngIf="contrasenaCtrl.invalid && contrasenaCtrl.touched">
                  <small>
                    Contraseña: 4 dígitos numéricos.
                  </small>
                </ion-text>
              </ion-col>
            </ion-row>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" class="ion-text-center">
          <div *ngIf="usuarioInvalido" class="aviso-usuario">
            <p>No hay usuarios registrados. Debe registrarse primero.</p>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4"></ion-col>
        <ion-col size="4" class="ion-text-center ion-align-self-center">
          <ion-button id="ingresar" expand="full" color="warning" type="submit" [disabled]="loginForm.invalid">
            Ingresar
          </ion-button>
        </ion-col>
        <ion-col size="4"></ion-col>
      </ion-row>
    </ion-grid>
  </form>
  <!-- Botón SIEMPRE visible para registro -->
  <ion-footer class="custom-footer">
    <div class="ion-text-center">
      <h5>¿No tienes cuenta? Regístrate ahora.</h5>
      <ion-row>
        <ion-col size="3"></ion-col>
        <ion-col size="6" class="ion-text-center ion-align-self-center">
          <ion-button expand="full" class="boton-registro" (click)="irRegistro()">Ir a registro</ion-button>
        </ion-col>
        <ion-col size="3"></ion-col>
      </ion-row>
    </div>
  </ion-footer>

</ion-content>